<div class="ve-flex-col ve-window min-h-0 h-100">
	<div class="ve-flex-v-center">
		<label class="ve-flex-v-center w-100">
			<div class="mr-2 no-wrap">Spell List Name:</div>
			<input class="w-100 form-control" placeholder="(Unnamed List)" name="ipt-list-name">
		</label>

		<div class="vr-2"></div>

		<div class="ve-btn-group ve-flex-v-center">
			<button class="ve-btn ve-btn-5et ve-btn-xs" name="btn-list-new">New</button>
			<button class="ve-btn ve-btn-5et ve-btn-xs" name="btn-list-save">Save</button>
			<button class="ve-btn ve-btn-5et ve-btn-xs" name="btn-list-load">Load</button>
		</div>
	</div>

	<hr class="hr-2">

	<div class="ve-flex-v-stretch input-group input-group--top">
		<button class="ve-btn ve-btn-5et veapp__btn-filter" name="btn-filter">Filter</button>
		<button class="ve-btn ve-btn-5et" title="Toggle Filter Summary Display" name="btn-toggle-summary"><span class="glyphicon glyphicon-resize-small"></span></button>
		<input type="search" class="search w-100 form-control h-initial" placeholder="Find spells...">
		<button class="ve-btn ve-btn-5et veapp__btn-list-reset" name="btn-reset">Reset</button>
	</div>

	<div class="fltr__mini-view ve-btn-group"></div>

	<div class="ve-flex-v-stretch input-group input-group--bottom mb-1" data-name="wrp-btns-sort">
		<label class="ve-btn ve-btn-5et ve-col-2 ve-flex-vh-center"><input type="checkbox" name="cb-select-all"></label>
		<button class="ve-btn ve-btn-5et ve-col-8 sort name" data-sort="name">Name</button>
		<button class="ve-btn ve-btn-5et ve-col-2 sort name" data-sort="level">Level</button>
	</div>

	<div class="veapp__list h-100 mb-1">
		{{#each rows}}
			<label class="ve-flex w-100 act-sp-prep__row veapp__list-row veapp__list-row-hoverable">
				<span class="ve-col-2 ve-text-center ve-flex-vh-center relative">
					<input type="checkbox" class="no-events" {{#if isPrepared}}checked{{/if}}>
					<span class="ml-2 ve-hidden act-sp-prep__disp-modified" title="Item modified. Click &quot;Update&quot; to commit changes.">*</span>
				</span>
				<span class="ve-col-8">{{name}}</span>
				<span class="ve-col-2 ve-text-center">{{Parser_spellLevelToFull level}}</span>
			</label>
		{{/each}}
	</div>

	<div><button class="ve-btn ve-btn-5et w-100" name="btn-run">Update</button></div>
</div>
