<div class="ve-flex-col h-100 ve-window min-h-0">
	<div class="veapp-task-runner__wrp-progress-outer no-shrink w-100 mb-2 relative">
		<div data-name="disp-progress" class="veapp-task-runner__wrp-progress-inner"></div>
		<div data-name="disp-progress-number" class="veapp-task-runner__disp-progress-number absolute ve-flex-vh-center bold"></div>
	</div>

	<div data-name="wrp-console" class="veapp-task-runner__wrp-console h-100 mb-2 mb-2 py-1 ve-overflow-y-auto ve-overflow-x-hidden smooth-scroll"></div>

	<div class="no-shrink">
		<button class="ve-btn ve-btn-5et w-100" name="btn-cancel">Cancel</button>
	</div>
</div>
