<div class="ve-flex ve-window min-h-0 h-100">
	<div class="ve-flex-col ve-flex-3 h-100" data-panel="2"></div>
	<div class="no-shrink imp-wiz__spc-panels mx-2"></div>
	<div class="ve-flex-col ve-flex-2 h-100 min-w-0" data-panel="3"></div>
</div>
