<div class="ve-flex-col ve-window min-h-0 h-100">
	<div>
		<button class="ve-btn ve-btn-5et w-100" name="btn-set-template"><span class="fas fa-fw fa-cogs"></span> Configure Editor</button>
	</div>

	<hr class="hr-2">

	<div class="ve-flex-v-stretch input-group input-group--top">
		<button class="ve-btn ve-btn-5et veapp__btn-filter" name="btn-filter">Filter</button>
		<button class="ve-btn ve-btn-5et" title="Toggle Filter Summary Display" name="btn-toggle-summary"><span class="glyphicon glyphicon-resize-small"></span></button>
		<input type="search" class="search w-100 form-control h-initial" placeholder="Find {{titleSearch}}...">
		<button class="ve-btn ve-btn-5et veapp__btn-list-reset" name="btn-reset">Reset</button>
	</div>

	<div class="fltr__mini-view ve-btn-group"></div>

	<div class="ve-flex-v-stretch input-group input-group--bottom mb-1" data-name="wrp-btns-sort">
		<label class="ve-btn ve-btn-5et ve-col-2 ve-flex-vh-center"><input type="checkbox" name="cb-select-all"></label>
		<button class="ve-btn ve-btn-5et ve-col-10 sort name" data-sort="name">Name</button>
	</div>

	<div class="veapp__list h-100 mb-1">
		{{#each rows}}
			<label class="ve-flex w-100 veapp__list-row veapp__list-row-hoverable">
				<span class="ve-col-2 ve-flex-vh-center"><input type="checkbox" class="no-events"></span>
				<span class="ve-col-10 name">{{displayName}}</span>
			</label>
		{{/each}}
	</div>

	<div class="ve-flex-v-end">
		<button class="ve-btn ve-btn-5et w-100" name="btn-run">Run</button>
	</div>
</div>
