<div class="ve-window ve-flex-col min-h-0 h-100 relative">
	<div class="ve-flex-col h-100 min-h-0 w-100" data-name="wrp-mid"></div>

	<div class="ve-flex-col no-shrink mt-2" data-name="wrp-bot"></div>
</div>
